.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  border-bottom: 1px solid #e5e5e5;
  background: white;
}

/* Brand */
.brand {
  color: #3b82f6;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

/* Search Section */
.navbar-center {
  display: flex;
  align-items: center;
  width: 50%;
  
  margin-right: 50px;
}

.search-input {
  flex: 1;
  padding: 10px;
  border: 2px solid #3b82f6;
  border-right: none;
  outline: none;
}

.category-select {
  padding: 10px;
  border: 2px solid #3b82f6;
  border-left: none;
  border-right: none;
  outline: none;
}

.search-btn {
  padding: 10px 20px;
  background: #3b82f6;
  color: white;
  border: 2px solid #3b82f6;
  cursor: pointer;
}

/* Right Icons */
.navbar-right {
  display: flex;
  gap: 25px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
  color: #555;
}

.nav-item span {
  font-size: 12px;
}
