/* Layout/newsletter-alibaba */

.footer-container {
  
  width: 1510px;
  left: 0px;
  position: absolute;
  margin-top: 300px;

  margin-top: 1000px;
  

}

.footer {
position: absolute;
width: 1440px;
height: 190px;
left: 0px;
top: 352px;



/* bg */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* gray-200 */
background: #EFF2F4;


/* text & form */

position: absolute;
left: 28.61%;
right: 28.54%;
top: 20%;
bottom: 20.53%;



/* form */

position: absolute;
left: 36.46%;
right: 36.32%;
top: 58.42%;
bottom: 20.53%;



/* Form/icon+input */

position: absolute;
left: 36.46%;
right: 44.51%;
top: 58.42%;
bottom: 20.53%;



/* ◼️ Background */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #FFFFFF;
/* gray-300

Borders, dividers
*/
border: 1px solid #DEE2E7;
border-radius: 6px;


/* Icon/0 */

position: absolute;
visibility: hidden;
width: 22px;
height: 22px;
right: 9px;
top: calc(50% - 22px/2);



/* Icon/email */

position: absolute;
width: 22px;
height: 22px;
left: 8px;
top: calc(50% - 22px/2);



/* Vector */

position: absolute;
left: 8.33%;
right: 8.33%;
top: 16.67%;
bottom: 16.67%;

/* gray-500 */
background: #8B96A5;


/* 🔠 Text */

position: absolute;
height: 19px;
left: 36px;
right: 68px;
top: 11px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

/* gray-500 */
color: #8B96A5;



/* Button/btn-basic */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 16px;
gap: 10px;

position: absolute;
width: 110px;
left: calc(50% - 110px/2 + 142px);
top: 58.42%;
bottom: 20.53%;

/* primary-gradient */
background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
border-radius: 6px;


/* Button/base/text-md */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 78px;
height: 19px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 🔠 Text */

width: 78px;
height: 19px;

/* text-btn/btn-normal */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;

/* white */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* text */

position: absolute;
left: 28.61%;
right: 28.54%;
top: 20%;
bottom: 52.63%;



/* Bell & Ross Nightlum */

position: absolute;
left: 28.61%;
right: 28.54%;
top: 34.74%;
bottom: 52.63%;

/* Text-info */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: center;
letter-spacing: -0.2px;

/* base-color/gray-800 */
color: #606060;



/* Subscribe on our newsletter */

position: absolute;
left: 40.69%;
right: 40.69%;
top: 20%;
bottom: 65.26%;

/* Title-H4 */
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */
text-align: center;
letter-spacing: -0.2px;

/* base-color/dark */
color: #1C1C1C;

/* Layout/footer-alibaba */

position: absolute;
width: 1440px;
height: 324px;
left: 0px;
top: 3242px;

background: #FFFFFF;


/* Col */

position: absolute;
left: 66.94%;
right: 27.64%;
top: 12.35%;
bottom: 45.37%;



/* For users */

position: absolute;
left: 66.94%;
right: 28.12%;
top: 12.35%;
bottom: 80.86%;

/* Text-title */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

/* dark */
color: #1C1C1C;



/* Login */

position: absolute;
left: 66.94%;
right: 30.21%;
top: 22.22%;
bottom: 70.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* Register */

position: absolute;
left: 66.94%;
right: 28.82%;
top: 30.56%;
bottom: 62.04%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* Settings */

position: absolute;
left: 66.94%;
right: 28.75%;
top: 38.89%;
bottom: 53.7%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* My Orders */

position: absolute;
left: 66.94%;
right: 27.64%;
top: 47.22%;
bottom: 45.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* Group 522 */

position: absolute;
left: 8.96%;
right: 71.88%;
top: 12.35%;
bottom: 39.2%;



/* Brand/logo-colored */

position: absolute;
left: 8.96%;
right: 80.62%;
top: 12.35%;
bottom: 73.46%;



/* Brand */

position: absolute;
left: 32.81%;
right: 15.86%;
top: 26.09%;
bottom: 28.04%;

background: #8CB7F5;


/* Brand/logo-symbol */

position: absolute;
left: -0.67%;
right: 71.33%;
top: 2.17%;
bottom: 2.17%;

opacity: 0.8;


/* 2 */

position: absolute;
left: 17.39%;
right: 0%;
top: 4.35%;
bottom: 4.35%;

background: rgba(13, 110, 253, 0.2);


/* 1 */

position: absolute;
left: 2.17%;
right: 10.87%;
top: 4.35%;
bottom: 4.35%;

background: #0D6EFD;


/* Group 2 */

position: absolute;
width: 17.45px;
height: 20.64px;
left: 11.48px;
top: 11.48px;

opacity: 0.7;


/* Path */

position: absolute;
left: 30.59%;
right: 38.74%;
top: 41.72%;
bottom: 31.48%;

background: #FFFFFF;
mix-blend-mode: normal;
opacity: 0.3;


/* Combined Shape */

position: absolute;
left: 26.09%;
right: 34.25%;
top: 26.09%;
bottom: 27.02%;

background: #FFFFFF;


/* Path */

position: absolute;
left: 26.09%;
right: 34.25%;
top: 26.09%;
bottom: 27.02%;

background: #000000;


/* Path */

position: absolute;
left: 39.22%;
right: 47.38%;
top: 30.55%;
bottom: 62.75%;

background: #000000;


/* Path */

position: absolute;
left: 30.59%;
right: 38.74%;
top: 41.72%;
bottom: 31.48%;

background: #000000;


/* Best information about the company gies here but now lorem ipsum is */

position: absolute;
left: 8.96%;
right: 71.88%;
top: 31.17%;
bottom: 54.01%;

/* Text-info */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: -0.2px;

/* gray-600 */
color: #505050;



/* Group 987 */

position: absolute;
width: 200px;
height: 32px;
left: 129px;
top: 165px;



/* Icon-contact/social/facebook3 */

position: absolute;
left: 8.96%;
right: 88.82%;
top: 50.93%;
bottom: 39.2%;



/* Fill 183 */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 3.12%;
bottom: 3.12%;

/* gray-400 */
background: #BDC4CD;


/* Icon-contact/social/twitter3 */

position: absolute;
left: 11.88%;
right: 85.9%;
top: 50.93%;
bottom: 39.2%;



/* Fill 184 */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 3.12%;
bottom: 3.12%;

/* gray-400 */
background: #BDC4CD;


/* Icon-contact/social/linkedin3 */

position: absolute;
left: 14.79%;
right: 82.99%;
top: 50.93%;
bottom: 39.2%;



/* Fill 209 */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 3.12%;
bottom: 3.12%;

/* gray-400 */
background: #BDC4CD;


/* Icon-contact/social/instagram3 */

position: absolute;
left: 17.71%;
right: 80.07%;
top: 50.93%;
bottom: 39.2%;



/* Combined Shape */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 3.12%;
bottom: 3.12%;

/* gray-400 */
background: #BDC4CD;


/* Icon-contact/social/youtube3 */

position: absolute;
left: 20.62%;
right: 77.15%;
top: 50.93%;
bottom: 39.2%;



/* Combined Shape */

position: absolute;
left: 3.12%;
right: 3.12%;
top: 3.12%;
bottom: 3.12%;

/* gray-400 */
background: #BDC4CD;


/* Group 988 */

position: absolute;
width: 1440px;
height: 68px;
left: 0px;
top: 256px;



/* Rectangle 305 */

box-sizing: border-box;

position: absolute;
left: 0%;
right: 0%;
top: 79.01%;
bottom: 0%;

/* gray-200 */
background: #EFF2F4;
/* gray-300

Borders, dividers
*/
border-top: 1px solid #DEE2E7;


/* Payment method & language */

position: absolute;
left: 8.89%;
right: 9.44%;
top: 86.11%;
bottom: 6.48%;



/* Group 986 */

position: absolute;
width: 107px;
height: 24px;
left: 1197px;
top: 279px;



/* Image/flags/icon */

position: absolute;
left: 83.12%;
right: 15.21%;
top: 87.04%;
bottom: 7.72%;



/* US@2x */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: url(US@2x.png);


/* English */

position: absolute;
left: 85.21%;
right: 11.11%;
top: 86.11%;
bottom: 6.48%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
text-align: right;
letter-spacing: -0.2px;

/* base-color/gray-800 */
color: #606060;



/* Icon/control/expand_less */

position: absolute;
left: 88.89%;
right: 9.44%;
top: 86.11%;
bottom: 6.48%;



/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 34.56%;
bottom: 34.56%;

/* dark */
background: #1C1C1C;


/* © 2023 Ecommerce. */

position: absolute;
left: 8.89%;
right: 68.89%;
top: 86.11%;
bottom: 6.48%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* base-color/gray-800 */
color: #606060;



/* col */

position: absolute;
left: 78.4%;
right: 12.99%;
top: 12.35%;
bottom: 47.84%;



/* Misc/market-button */

position: absolute;
left: 78.4%;
right: 12.99%;
top: 23.77%;
bottom: 63.27%;



/* Group */

position: absolute;
width: 124px;
height: 42px;
left: 0px;
top: 0px;



/* ◼️ Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #1C1C1C;
border-radius: 6px;


/* Subtract */

position: absolute;
left: 8.82%;
right: 9%;
top: 20.69%;
bottom: 18.97%;

background: #FFFFFF;


/* Misc/market-button */

position: absolute;
left: 78.4%;
right: 12.99%;
top: 39.2%;
bottom: 47.84%;



/* Group */

position: absolute;
width: 124px;
height: 42px;
left: 0px;
top: 0px;



/* ◼️ Background */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #1C1C1C;
border-radius: 6px;


/* Logo */

position: absolute;
left: 8.82%;
right: 8.41%;
top: 20.69%;
bottom: 20.69%;

background: #FFFFFF;


/* Get app */

position: absolute;
left: 78.47%;
right: 17.29%;
top: 12.35%;
bottom: 80.86%;

/* Text-title */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

/* dark */
color: #1C1C1C;



/* col */

position: absolute;
left: 53.12%;
right: 39.38%;
top: 12.35%;
bottom: 45.37%;



/* link */

position: absolute;
left: 53.12%;
right: 40.76%;
top: 12.35%;
bottom: 80.86%;

/* Text-title */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

/* dark */
color: #1C1C1C;



/* link */

position: absolute;
left: 53.12%;
right: 40.69%;
top: 22.22%;
bottom: 70.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 53.12%;
right: 39.38%;
top: 30.56%;
bottom: 62.04%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 53.12%;
right: 42.36%;
top: 38.89%;
bottom: 53.7%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 53.12%;
right: 41.25%;
top: 47.22%;
bottom: 45.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* col */

position: absolute;
left: 42.43%;
right: 51.32%;
top: 12.35%;
bottom: 45.37%;



/* link */

position: absolute;
left: 42.43%;
right: 51.32%;
top: 12.35%;
bottom: 80.86%;

/* Text-title */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

/* dark */
color: #1C1C1C;



/* link */

position: absolute;
left: 42.43%;
right: 52.78%;
top: 22.22%;
bottom: 70.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 42.43%;
right: 52.43%;
top: 30.56%;
bottom: 62.04%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 42.43%;
right: 51.94%;
top: 38.89%;
bottom: 53.7%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 42.43%;
right: 54.65%;
top: 47.22%;
bottom: 45.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* col */

position: absolute;
left: 32.36%;
right: 62.01%;
top: 12.35%;
bottom: 45.37%;



/* link */

position: absolute;
left: 32.36%;
right: 64.38%;
top: 12.35%;
bottom: 80.86%;

/* Text-title */
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 138% */

/* dark */
color: #1C1C1C;



/* link */

position: absolute;
left: 32.36%;
right: 62.85%;
top: 22.22%;
bottom: 70.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 32.36%;
right: 62.5%;
top: 30.56%;
bottom: 62.04%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 32.36%;
right: 62.01%;
top: 38.89%;
bottom: 53.7%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;



/* link */

position: absolute;
left: 32.36%;
right: 64.72%;
top: 47.22%;
bottom: 45.37%;

/* Text normal */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: -0.2px;

/* gray-500 */
color: #8B96A5;

}


